*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
background-image: url(./background_img.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index:1;
}

.container:before{
    content: "";
position: absolute;
background-color: black;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
opacity: .5;
}
#main-button{
    height:150px ;
    width: 150px;
    border-radius: 50% !important;
    background: linear-gradient(to top left, violet ,brown,violet) !important;
    font-weight: 700 !important;
    color:black !important;
}

li{
    color:lightgreen !important;
}
.display-1{
    text-shadow: 0 0  10px yellow;
}
span{
    font-size: 15px;
}

.circle ul {
   list-style: none !important;
}
.circle ul li{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
    bottom: 0 ;
    animation: moveUp  3s  linear infinite;
    opacity: 0;
    
}
 .circle li:nth-child(2){
    animation-delay: 2.5s;
    left: 40vw;
    background-color: tomato;
 }
 .circle li:nth-child(3){
    left: 50vw;
    background-color: red;
    animation-delay: 6s;
 }
 .circle li:nth-child(4){
    left: 60vw;
    animation-delay: 4s; 
    background-color: sienna;
}
 .circle li:nth-child(5){
    left: 70vw;
    animation-delay: 7.5s;
 }
 .circle li:nth-child(6){
    left: 90vw;
    animation-delay: .5s;
   background-color: skyblue; 
}
 

 @keyframes moveUp{
   0%{
       transform: scale(0);
    bottom: 0;
   opacity: 1;
   }
   100%{
       transform: scale(3);
       bottom: 100vh;
       opacity: 0;
   }
 }